<%- include ("../layouts/cabecera.ejs") %> 
</br>

<div class="card">
    <div class="card-header">
        Formulario de captura
    </div>
    <div class="card-body">
        <h5 class="card-title">Editar datos del libro</h5>
        <p class="card-text">

            <form method="post" action="../actualizar/" enctype="multipart/form-data">
    
                <input type="hidden" name="id" value="<%= libro.id %>">
            
            <div class="form-group">
                <label for="my-input">Nombre</label>
                <input id="my-input" value="<%= libro.nombre %>" class="form-control" type="text" name="nombre">
            </div>
            
            <div class="form-group">
                <label for="my-input">Imagen</label>
                <img class="img-thumbnail" src="../../images/<%= libro.imagen %>" width="100" alt=""> 
                <input id="my-input" class="form-control-file" type="file" name="archivo">
            </div>

            <div class="form-group">
                <label for="my-input">Año</label>
                <input id="my-input" value="<%= libro.fecha %>" class="form-control" type="text" name="fecha">
            </div>

            
            <div class="form-group">
                <label for="my-input">Número de páginas</label>
                <input id="my-input" value="<%= libro.paginas %>" class="form-control" type="text" name="paginas">
            </div>

            <div class="form-group">
                <label for="my-input">Sinopsis</label>
                <textarea id="my-input" value="<%= libro.sinopsis %>"class="form-control" id="exampleFormControlTextarea1" rows="3" name="sinopsis"></textarea>
            </div>

            <div class="form-group">
                <label for="my-input">Categoría</label>
                <input id="my-input" value="<%= libro.categoria %>" class="form-control" type="text" name="categoria">
            </div>

            <div class="form-group">
                <label for="my-input">Autor</label>
                <input id="my-input" value="<%= libro.autor %>" class="form-control" type="text" name="autor">
            </div>
            
            <button class="btn btn-success" type="submit">Actualizar</button>
            <a class="btn btn-primary" href="/libros">Cancelar</a>
            </form>

        </p>
    </div>
</div>


<%- include ("../layouts/pie.ejs") %> 